@page "{handler?}"

@using Work.WebClient.Models

@model Work.WebClient.Pages.IndexModel

@{
    ViewData["Title"] = "WebClient";
}

<form method="post">
    <input type="number" name="id"/>
    <input class="btn-primary" type="submit" asp-page-handler="ById" value="Submit"/>
</form>

<table class="table">
    <tr>
        <td>Id</td>
        <td>TourName</td>
        <td>TourType</td>
        <td>TourRegion</td>
        <td>TourMovementType</td>
        <td>TourDateTime</td>
        <td>TourDurationInDays</td>
        <td></td>
    </tr>

    @foreach (var tour in Model.DisplayedTours)
    {
        <tr>
            <td>@tour.Id</td>
            <td>@tour.TourName</td>
            <td>@tour.TourType</td>
            <td>@tour.TourRegion</td>
            <td>@tour.TourMovementType</td>
            <td>@tour.TourDateTime</td>
            <td>@tour.TourDurationInDays</td>
        </tr>
    }
    
</table>

