@page "{handler?}"
@inject IUserManagerService UserManagerService
@using Work.WebClient.Interfaces
@model Work.WebClient.Pages.Views.Tour.TourInfo
@{
    <form method="post">
        <div>
            <input type="hidden" name="tourId" value="@Model.TourViewModel.Id"/>
        </div>
        <div>
            <label>Tour name: @Model.TourViewModel.TourName</label><br/>
            <input type="hidden" name="tourName" value="@Model.TourViewModel.TourName"/>
        </div>
        <div>
            <label>Tour type: @Model.TourViewModel.TourType</label><br/>
            <input type="hidden" name="tourType" value="@Model.TourViewModel.TourType"/>
        </div>
        <div>
            <label>Tour region: @Model.TourViewModel.TourRegion</label><br/>
            <input type="hidden" name="tourRegion" value="@Model.TourViewModel.TourRegion"/>
        </div>
        <div>
            <label>Tour movement type: @Model.TourViewModel.TourMovementType</label><br/>
            <input type="hidden" name="tourMovementType" value="@Model.TourViewModel.TourMovementType"/>
        </div>
        <div>
            <label>Tour date: @Model.TourViewModel.TourDateTime.ToShortDateString()</label><br/>
            <input type="hidden" name="tourDate" value="@Model.TourViewModel.TourDateTime"/>
        </div>
        <div>
            <label>Tour duration: @Model.TourViewModel.TourDurationInDays</label><br/>
            <input type="hidden" name="duration" value="@Model.TourViewModel.TourDurationInDays"/>
        </div>
        <div>
            <label>Tour duration: @Model.TourViewModel.TourPrice</label><br/>
            <input type="hidden" name="price" value="@Model.TourViewModel.TourPrice"/>
        </div>
        @if (UserManagerService.LoggedUser != null)
        {
            @if (UserManagerService.LoggedUser.Role == "User")
            {
                <td>
                    <a class="btn btn-primary" role="button" asp-page="/Views/Order/OrderTour" asp-route-id="@Model.TourViewModel.Id"
                       asp-route-name="@Model.TourViewModel.TourName" asp-route-type="@Model.TourViewModel.TourType"
                       asp-route-region="@Model.TourViewModel.TourRegion" asp-route-movement="@Model.TourViewModel.TourMovementType"
                       asp-route-date="@Model.TourViewModel.TourDateTime" asp-route-duration="@Model.TourViewModel.TourDurationInDays"
                       asp-route-price="@Model.TourViewModel.TourPrice">Book</a>
                </td>
            }
        }
    </form>
}
